build/catalog.html
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="description" content="Aidar FrontEnd">
    <meta name="author" content="Aidar">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="css/vendor.css">
    <link rel="stylesheet" href="css/main.css">
    <title>Shop</title>
  </head>
  <body>
    <div class="wrapper">
      <!-- header-->
      <div class="header">
        <div class="header-top container"><a href="#" class="header__logo"><img src="images/logo.png" alt="logo"></a>
          <div class="header-contact">
            <div class="header-contact__phone"><i class="fa fa-phone" aria-hidden="true"></i><span>+7 (702) 999-99-99</span></div>
            <div class="header-contact__whatsapp"><i class="fa fa-whatsapp" aria-hidden="true"></i><span>+7 (702) 999-99-99</span></div>
          </div>
          <div class="header-panel">
            <div class="header__basket"><a href="#"><i class="fa fa-shopping-cart" aria-hidden="true"></i>					</a></div>
            <div class="header__login"><a href="#"><i class="fa fa-user" aria-hidden="true"></i></a>
              <div class="header-panel__login-drop"><span class="sign">Вход на сайт</span>
                <form action="#" login-form>
                  <input type="text" placeholder="Ваша почта">
                  <input type="password" placeholder="Ваш пароль">
                  <input type="checkbox"><span>Запомнить пароль</span>
                  <button href="#" class="submit btn">Вход</button><a href="#" class="link-regist">Зарегистрироваться</a><a href="#" class="forget-pass">Забыли пароль?</a>
                </form>
              </div>
            </div>
          </div>
        </div>
        <div class="line"></div>
        <div class="header-nav container">
          <ul class="header-nav__menu">
            <li><a href="#">Протеины</a></li>
            <li><a href="#">Гейнеры</a></li>
            <li><a href="#">Аминокислоты</a></li>
            <li><a href="#">Витамины и минералы</a></li>
            <li><a href="#">Аксессуары</a></li>
          </ul>
          <div class="header-nav__search">
            <form action="#" class="search-form">
              <input type="text" placeholder="Поиск...">
              <button class="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
            </form>
          </div>
        </div>
      </div>
      <div class="main">
        <div class="container">
          <div class="catalog-page">
            <aside class="sidebar">
              <div class="sidebar__category">
                <div class="sidebar__title"><span>Категории</span></div>
                <div class="sidebar__list">
                  <ul>
                    <li><a href="#" class="active">Протеины <span class="count">(25)</span></a></li>
                    <li><a href="#">Гейнеры <span class="count">(31)</span></a></li>
                    <li><a href="#">ВСАА <span class="count">(25)</span></a></li>
                    <li><a href="#">Аминокислоты <span class="count">(8)</span></a></li>
                    <li><a href="#">Креатины <span class="count">(11)</span></a></li>
                    <li><a href="#">Витамины и минералы <span class="count">(4)</span></a></li>
                    <li><a href="#">Жиросжигатели <span class="count">(5)</span></a></li>
                    <li><a href="#">Энергетики <span class="count">(12)</span></a></li>
                    <li><a href="#">Ночное востановление <span class="count">(0)</span></a></li>
                    <li><a href="#">Жиры <span class="count">(2)</span></a></li>
                    <li><a href="#">Батончики/ Печенье/ Джемы <span class="count">(7)</span></a></li>
                    <li><a href="#">Суставы и Связки <span class="count">(5)</span></a></li>
                  </ul>
                </div>
              </div>
              <div class="sidebar__brand">
                <div class="sidebar__title"><span>Бренды</span></div>
                <div class="sidebar__list">
                  <ul>
                    <li><a href="#">Ultimate Nutrition</a></li>
                    <li><a href="#">Syntrax</a></li>
                    <li><a href="#">PUREPROTEIN</a></li>
                    <li><a href="#">Optimum Nutrition</a></li>
                    <li><a href="#">Muscle Pharm</a></li>
                    <li><a href="#">Gaspari</a></li>
                    <li><a href="#">DYMATIZE</a></li>
                    <li><a href="#">BSN</a></li>
                    <li><a href="#">MUTANT NUTRITION</a></li>
                    <li><a href="#">TWINLAB</a></li>
                    <li><a href="#">MHP</a></li>
                    <li><a href="#">BLENDER BOTTLE</a></li>
                  </ul>
                </div>
              </div>
            </aside>
            <div class="catalogs-block">
              <div class="catalogs-block__title"><span>Протеины</span>
                <p>Протеин (белок) — самый главный компонент в рационе спортсмена, строительный материал для мышц. Дополнительный прием протеина в комплексе с правильной диетой увеличивает мышечную массу, снижает жировую прослойку и ускоряет восстановление от тренировок.</p>
              </div>
              <div class="catalogs-block__filter">
                <div class="show-filter"><span>Показать по: </span>
                  <select name="show-filter">
                    <option value="#">20</option>
                    <option value="#">40</option>
                    <option value="#">60</option>
                  </select>
                </div>
                <div class="filter-by"><a href="#">Цена по возрастанию/</a><a href="#">Цена по убыванию/</a><a href="#">Новинки/</a><a href="#">Акции</a></div>
              </div>
              <div class="catalogs-block__products">
                <div class="product-item"><a href="#" class="product-item__img"><img src="images/product1.jpg" alt="product"></a><a href="#" class="product-item__describe">Гейнер (Lactomin 300gr, Maltodextrine 700gr) Greenlab 1кг</a><span class="product-item__price">5 000 тг.</span><a href="#" class="btn btn--yellow">В корзину</a>
                  <div class="product-item__badge"><img src="images/new.png" alt="new"></div>
                </div>
                <div class="product-item"><a href="#" class="product-item__img"><img src="images/product2.jpg" alt="product"></a><a href="#" class="product-item__describe">Гейнер (Lactomin 300gr, Maltodextrine 700gr) Greenlab 1кг</a><span class="product-item__price">5 000 тг.</span><a href="#" class="btn btn--yellow">В корзину</a>
                  <div class="product-item__badge"><img src="images/new.png" alt="new"></div>
                </div>
                <div class="product-item"><a href="#" class="product-item__img"><img src="images/product3.jpg" alt="product"></a><a href="#" class="product-item__describe">Гейнер (Lactomin 300gr, Maltodextrine 700gr) Greenlab 1кг</a><span class="product-item__price">5 000 тг.</span><a href="#" class="btn btn--yellow">В корзину</a></div>
                <div class="product-item"><a href="#" class="product-item__img"><img src="images/product4.jpg" alt="product"></a><a href="#" class="product-item__describe">Гейнер (Lactomin 300gr, Maltodextrine 700gr) Greenlab 1кг</a><span class="product-item__price">5 000 тг.</span><a href="#" class="btn btn--yellow">В корзину</a>
                  <div class="product-item__badge"><img src="images/new.png" alt="new"></div>
                </div>
                <div class="product-item"><a href="#" class="product-item__img"><img src="images/product3.jpg" alt="product"></a><a href="#" class="product-item__describe">Гейнер (Lactomin 300gr, Maltodextrine 700gr) Greenlab 1кг</a><span class="product-item__price">5 000 тг.</span><a href="#" class="btn btn--yellow">В корзину</a></div>
                <div class="product-item"><a href="#" class="product-item__img"><img src="images/product4.jpg" alt="product"></a><a href="#" class="product-item__describe">Гейнер (Lactomin 300gr, Maltodextrine 700gr) Greenlab 1кг</a><span class="product-item__price">5 000 тг.</span><a href="#" class="btn btn--yellow">В корзину</a></div>
                <div class="product-item"><a href="#" class="product-item__img"><img src="images/product3.jpg" alt="product"></a><a href="#" class="product-item__describe">Гейнер (Lactomin 300gr, Maltodextrine 700gr) Greenlab 1кг</a><span class="product-item__price">5 000 тг.</span><a href="#" class="btn btn--yellow">В корзину</a></div>
                <div class="product-item"><a href="#" class="product-item__img"><img src="images/product4.jpg" alt="product"></a><a href="#" class="product-item__describe">Гейнер (Lactomin 300gr, Maltodextrine 700gr) Greenlab 1кг</a><span class="product-item__price">5 000 тг.</span><a href="#" class="btn btn--yellow">В корзину</a></div>
                <div class="product-item"><a href="#" class="product-item__img"><img src="images/product1.jpg" alt="product"></a><a href="#" class="product-item__describe">Гейнер (Lactomin 300gr, Maltodextrine 700gr) Greenlab 1кг</a><span class="product-item__price">5 000 тг.</span><a href="#" class="btn btn--yellow">В корзину</a>
                  <div class="product-item__badge"><img src="images/new.png" alt="new"></div>
                </div>
                <div class="product-item"><a href="#" class="product-item__img"><img src="images/product2.jpg" alt="product"></a><a href="#" class="product-item__describe">Гейнер (Lactomin 300gr, Maltodextrine 700gr) Greenlab 1кг</a><span class="product-item__price">5 000 тг.</span><a href="#" class="btn btn--yellow">В корзину</a>
                  <div class="product-item__badge"><img src="images/new.png" alt="new"></div>
                </div>
                <div class="product-item"><a href="#" class="product-item__img"><img src="images/product3.jpg" alt="product"></a><a href="#" class="product-item__describe">Гейнер (Lactomin 300gr, Maltodextrine 700gr) Greenlab 1кг</a><span class="product-item__price">5 000 тг.</span><a href="#" class="btn btn--yellow">В корзину</a></div>
                <div class="product-item"><a href="#" class="product-item__img"><img src="images/product4.jpg" alt="product"></a><a href="#" class="product-item__describe">Гейнер (Lactomin 300gr, Maltodextrine 700gr) Greenlab 1кг</a><span class="product-item__price">5 000 тг.</span><a href="#" class="btn btn--yellow">В корзину</a>
                  <div class="product-item__badge"><img src="images/new.png" alt="new"></div>
                </div>
                <div class="product-item"><a href="#" class="product-item__img"><img src="images/product3.jpg" alt="product"></a><a href="#" class="product-item__describe">Гейнер (Lactomin 300gr, Maltodextrine 700gr) Greenlab 1кг</a><span class="product-item__price">5 000 тг.</span><a href="#" class="btn btn--yellow">В корзину</a></div>
                <div class="product-item"><a href="#" class="product-item__img"><img src="images/product4.jpg" alt="product"></a><a href="#" class="product-item__describe">Гейнер (Lactomin 300gr, Maltodextrine 700gr) Greenlab 1кг</a><span class="product-item__price">5 000 тг.</span><a href="#" class="btn btn--yellow">В корзину</a></div>
                <div class="product-item"><a href="#" class="product-item__img"><img src="images/product3.jpg" alt="product"></a><a href="#" class="product-item__describe">Гейнер (Lactomin 300gr, Maltodextrine 700gr) Greenlab 1кг</a><span class="product-item__price">5 000 тг.</span><a href="#" class="btn btn--yellow">В корзину</a></div>
                <div class="product-item"><a href="#" class="product-item__img"><img src="images/product4.jpg" alt="product"></a><a href="#" class="product-item__describe">Гейнер (Lactomin 300gr, Maltodextrine 700gr) Greenlab 1кг</a><span class="product-item__price">5 000 тг.</span><a href="#" class="btn btn--yellow">В корзину</a></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--js files-->
      <script src="js/vendor.js"></script>
      <script src="https://use.fontawesome.com/d419eefe85.js"></script>
      <script src="js/main.js"></script>
      <!--footer-->
      <footer class="footer">
        <div class="container">
          <div class="footer-nav">
            <div class="footer-nav__nav"><span class="footer-nav__title">Полезно знать</span>
              <ul class="footer-nav__list">
                <li><a href="#">О магазине</a></li>
                <li><a href="#">О доставке и оплате</a></li>
                <li><a href="#">Обмен и возврат</a></li>
                <li><a href="#">Информация о спортпите					</a></li>
              </ul>
            </div>
            <div class="footer-nav__help"><span class="footer-nav__title">Помощь и поддержка</span>
              <ul class="footer-nav__list">
                <li><a href="#">Как сделать заказ?</a></li>
                <li><a href="#">Что дает нам регистрация?</a></li>
                <li><a href="#">Написать нам</a></li>
                <li><a href="#">Контакты</a></li>
              </ul>
            </div>
            <div class="footer-nav__subscribe"><span class="footer-nav__title">Подписка</span>
              <div class="footer-social"><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a><a href="#"><i class="fa fa-vk" aria-hidden="true"></i></a></div>
              <form class="footer-form">
                <input type="text" placeholder="Введите e-mail">
                <button class="btn btn--light submit">Подписаться</button>
              </form>
              <p>Подпишитесь на самые свежие новости и <br/>специальные предложения от Михалыча!</p>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="footer-copyright__logo">
              <i class="fa fa-cc-visa" aria-hidden="true"></i>
              <i class="fa fa-cc-mastercard" aria-hidden="true"></i>
            </div>
            <div class="footer-copyright__describe">
              <p>Mikhalych.kz – интернет магазин автотоваров: масла, автохимия, автомобильные лампочки, фильтры, авто аксессуары, комплектующие. © 2016 Примечание! Mikhalych.kz работает в beta-режиме. Если вы нашли где-то ошибку или неточность в описании товара, сообщите нам, пожалуйста.</p>
            </div>
          </div>
        </div>
      </footer>
    </div>
  </body>
</html>

src/catalog.jade
extends layout/layout

block content

	.container
		.catalog-page

			aside.sidebar
				.sidebar__category
					.sidebar__title
						span Категории

					.sidebar__list
						ul
							li: a(href="#").active Протеины <span class="count">(25)</span>
							li: a(href="#") Гейнеры <span class="count">(31)</span>
							li: a(href="#") ВСАА <span class="count">(25)</span>
							li: a(href="#") Аминокислоты <span class="count">(8)</span>
							li: a(href="#") Креатины <span class="count">(11)</span>
							li: a(href="#") Витамины и минералы <span class="count">(4)</span>
							li: a(href="#") Жиросжигатели <span class="count">(5)</span>
							li: a(href="#") Энергетики <span class="count">(12)</span>
							li: a(href="#") Ночное востановление <span class="count">(0)</span>
							li: a(href="#") Жиры <span class="count">(2)</span>
							li: a(href="#") Батончики/ Печенье/ Джемы <span class="count">(7)</span>
							li: a(href="#") Суставы и Связки <span class="count">(5)</span>

				.sidebar__brand
					.sidebar__title
						span Бренды

					.sidebar__list
						ul
							li: a(href="#") Ultimate Nutrition
							li: a(href="#") Syntrax
							li: a(href="#") PUREPROTEIN
							li: a(href="#") Optimum Nutrition
							li: a(href="#") Muscle Pharm
							li: a(href="#") Gaspari
							li: a(href="#") DYMATIZE
							li: a(href="#") BSN
							li: a(href="#") MUTANT NUTRITION
							li: a(href="#") TWINLAB
							li: a(href="#") MHP
							li: a(href="#") BLENDER BOTTLE
			
			.catalogs-block
					.catalogs-block__title
						span Протеины
						p Протеин (белок) — самый главный компонент в рационе спортсмена, строительный материал для мышц. Дополнительный прием протеина в комплексе с правильной диетой увеличивает мышечную массу, снижает жировую прослойку и ускоряет восстановление от тренировок.
					.catalogs-block__filter
						.show-filter
							span Показать по: 
							select(name="show-filter")
								option(value="#") 20
								option(value="#") 40
								option(value="#") 60

						.filter-by
							a(href="#") Цена по возрастанию/
							a(href="#") Цена по убыванию/
							a(href="#") Новинки/
							a(href="#") Акции

					.catalogs-block__products
				
						.product-item
							a(href="#").product-item__img
								img(src="images/product1.jpg", alt="product")
							a(href="#").product-item__describe
								| Гейнер (Lactomin 300gr, Maltodextrine 700gr) Greenlab 1кг
							span.product-item__price 5 000 тг.
							a(href="#").btn.btn--yellow В корзину

							.product-item__badge
								img(src="images/new.png", alt="new")

						.product-item
							a(href="#").product-item__img
								img(src="images/product2.jpg", alt="product")
							a(href="#").product-item__describe
								| Гейнер (Lactomin 300gr, Maltodextrine 700gr) Greenlab 1кг
							span.product-item__price 5 000 тг.
							a(href="#").btn.btn--yellow В корзину

							.product-item__badge
								img(src="images/new.png", alt="new")

						.product-item
							a(href="#").product-item__img
								img(src="images/product3.jpg", alt="product")
							a(href="#").product-item__describe
								| Гейнер (Lactomin 300gr, Maltodextrine 700gr) Greenlab 1кг
							span.product-item__price 5 000 тг.
							a(href="#").btn.btn--yellow В корзину

						.product-item
							a(href="#").product-item__img
								img(src="images/product4.jpg", alt="product")
							a(href="#").product-item__describe
								| Гейнер (Lactomin 300gr, Maltodextrine 700gr) Greenlab 1кг
							span.product-item__price 5 000 тг.
							a(href="#").btn.btn--yellow В корзину

							.product-item__badge
								img(src="images/new.png", alt="new")

						.product-item
							a(href="#").product-item__img
								img(src="images/product3.jpg", alt="product")
							a(href="#").product-item__describe
								| Гейнер (Lactomin 300gr, Maltodextrine 700gr) Greenlab 1кг
							span.product-item__price 5 000 тг.
							a(href="#").btn.btn--yellow В корзину

						.product-item
							a(href="#").product-item__img
								img(src="images/product4.jpg", alt="product")
							a(href="#").product-item__describe
								| Гейнер (Lactomin 300gr, Maltodextrine 700gr) Greenlab 1кг
							span.product-item__price 5 000 тг.
							a(href="#").btn.btn--yellow В корзину

						.product-item
							a(href="#").product-item__img
								img(src="images/product3.jpg", alt="product")
							a(href="#").product-item__describe
								| Гейнер (Lactomin 300gr, Maltodextrine 700gr) Greenlab 1кг
							span.product-item__price 5 000 тг.
							a(href="#").btn.btn--yellow В корзину

						.product-item
							a(href="#").product-item__img
								img(src="images/product4.jpg", alt="product")
							a(href="#").product-item__describe
								| Гейнер (Lactomin 300gr, Maltodextrine 700gr) Greenlab 1кг
							span.product-item__price 5 000 тг.
							a(href="#").btn.btn--yellow В корзину

						.product-item
							a(href="#").product-item__img
								img(src="images/product1.jpg", alt="product")
							a(href="#").product-item__describe
								| Гейнер (Lactomin 300gr, Maltodextrine 700gr) Greenlab 1кг
							span.product-item__price 5 000 тг.
							a(href="#").btn.btn--yellow В корзину

							.product-item__badge
								img(src="images/new.png", alt="new")

						.product-item
							a(href="#").product-item__img
								img(src="images/product2.jpg", alt="product")
							a(href="#").product-item__describe
								| Гейнер (Lactomin 300gr, Maltodextrine 700gr) Greenlab 1кг
							span.product-item__price 5 000 тг.
							a(href="#").btn.btn--yellow В корзину

							.product-item__badge
								img(src="images/new.png", alt="new")

						.product-item
							a(href="#").product-item__img
								img(src="images/product3.jpg", alt="product")
							a(href="#").product-item__describe
								| Гейнер (Lactomin 300gr, Maltodextrine 700gr) Greenlab 1кг
							span.product-item__price 5 000 тг.
							a(href="#").btn.btn--yellow В корзину

						.product-item
							a(href="#").product-item__img
								img(src="images/product4.jpg", alt="product")
							a(href="#").product-item__describe
								| Гейнер (Lactomin 300gr, Maltodextrine 700gr) Greenlab 1кг
							span.product-item__price 5 000 тг.
							a(href="#").btn.btn--yellow В корзину

							.product-item__badge
								img(src="images/new.png", alt="new")

						.product-item
							a(href="#").product-item__img
								img(src="images/product3.jpg", alt="product")
							a(href="#").product-item__describe
								| Гейнер (Lactomin 300gr, Maltodextrine 700gr) Greenlab 1кг
							span.product-item__price 5 000 тг.
							a(href="#").btn.btn--yellow В корзину

						.product-item
							a(href="#").product-item__img
								img(src="images/product4.jpg", alt="product")
							a(href="#").product-item__describe
								| Гейнер (Lactomin 300gr, Maltodextrine 700gr) Greenlab 1кг
							span.product-item__price 5 000 тг.
							a(href="#").btn.btn--yellow В корзину

						.product-item
							a(href="#").product-item__img
								img(src="images/product3.jpg", alt="product")
							a(href="#").product-item__describe
								| Гейнер (Lactomin 300gr, Maltodextrine 700gr) Greenlab 1кг
							span.product-item__price 5 000 тг.
							a(href="#").btn.btn--yellow В корзину

						.product-item
							a(href="#").product-item__img
								img(src="images/product4.jpg", alt="product")
							a(href="#").product-item__describe
								| Гейнер (Lactomin 300gr, Maltodextrine 700gr) Greenlab 1кг
							span.product-item__price 5 000 тг.
							a(href="#").btn.btn--yellow В корзину
