build/catalog-item.html
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="description" content="Aidar FrontEnd">
    <meta name="author" content="Aidar">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="css/vendor.css">
    <link rel="stylesheet" href="css/main.css">
    <title>Shop</title>
  </head>
  <body>
    <div class="wrapper">
      <!-- header-->
      <div class="header">
        <div class="header-top container"><a href="#" class="header__logo"><img src="images/logo.png" alt="logo"></a>
          <div class="header-contact">
            <div class="header-contact__phone"><i class="fa fa-phone" aria-hidden="true"></i><span>+7 (702) 999-99-99</span></div>
            <div class="header-contact__whatsapp"><i class="fa fa-whatsapp" aria-hidden="true"></i><span>+7 (702) 999-99-99</span></div>
          </div>
          <div class="header-panel">
            <div class="header__basket"><a href="#"><i class="fa fa-shopping-cart" aria-hidden="true"></i>					</a></div>
            <div class="header__login"><a href="#"><i class="fa fa-user" aria-hidden="true"></i></a>
              <div class="header-panel__login-drop"><span class="sign">Вход на сайт</span>
                <form action="#" login-form>
                  <input type="text" placeholder="Ваша почта">
                  <input type="password" placeholder="Ваш пароль">
                  <input type="checkbox"><span>Запомнить пароль</span>
                  <button href="#" class="submit btn">Вход</button><a href="#" class="link-regist">Зарегистрироваться</a><a href="#" class="forget-pass">Забыли пароль?</a>
                </form>
              </div>
            </div>
          </div>
        </div>
        <div class="line"></div>
        <div class="header-nav container">
          <ul class="header-nav__menu">
            <li><a href="#">Протеины</a></li>
            <li><a href="#">Гейнеры</a></li>
            <li><a href="#">Аминокислоты</a></li>
            <li><a href="#">Витамины и минералы</a></li>
            <li><a href="#">Аксессуары</a></li>
          </ul>
          <div class="header-nav__search">
            <form action="#" class="search-form">
              <input type="text" placeholder="Поиск...">
              <button class="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
            </form>
          </div>
        </div>
      </div>
      <div class="main">
        <div class="container">
          <div class="catalog-item-page">
            <div class="item-card">
              <div class="item-card__left">
                <div class="breadcrumb"><span class="breadcrumb__title">Товар в категории:</span>
                  <ul class="breadcrumb__links">
                    <li><a href="#">Главная</a></li>
                    <li><a href="#">Протеины						</a></li>
                    <li class="active">ON Whey Protein 100%</li>
                  </ul>
                </div>
                <div class="card-head">
                  <div class="card-head__img"><a href="images/product2.jpg" class="image-popup-no-margins"><img src="images/product2.jpg" alt=""></a><i class="fa fa-search-plus" aria-hidden="true"></i></div>
                  <div class="card-head__text">
                    <div class="card-head__title"><span>100% Whey Gold Standard, 908 грамм</span></div>
                    <div class="card-head__articul"><span class="art">Артикул: 249466299</span><span class="brand">Бренд:<a href="#">Optimum Nutrition</a></span></div>
                    <div class="card-head__price">
                      <div class="price-money"><span>Цена</span><b>9900 тг.</b></div>
                      <div class="price-quantity"><span>Количество</span>
                        <input type="number" min="1" value="1">
                      </div>
                      <div class="price-total"><span>Итого</span><b>9900 тг.</b></div>
                    </div>
                    <div class="card-head__instock"><a href="№">Внимание, уточняйте наличие!</a></div>
                  </div>
                </div>
                <div class="item-card__describe">
                  <div class="describe__title"><span>Описание</span></div>
                  <div class="describe__content">
                    <p>100% Whey Gold Standard - это чистый, настоящий сывороточный белок с минимальным содержанием жиров, насыщенных жиров, холестерина, лактозы и других углеводов.В действительности, это лучший продукт из доступных на рынке спортивного питания! С помощью сложных методов протеин может быть “изолирован” из сопровождающих его жиров, холестерина,лактозы и других нежелательных ингредиентов для получения порошка, который состоял бы на 90% из протеина.</p>
                    <p>Микрофильтрованный изолят сывороточного протеина - это главный ингредиент, он один уже способен показать, что Optimum Nutrition не думает о расходах, когда делает для Вас лучший продукт. Содержит больше изолята сывороточного белка – это самый чистый и самый дорогой источник сывороточного белка. Содержит низкомолекулярные пептиды сыворотки, благодаря которым протеин стал более быстродействующим! Содержит лактазу и аминоген – ферменты, улучшающие переваривание пищи, чтобы увеличить усвояемость белка и максимально снизить негативные реакции организма на лактозу, которую некоторые люди не переносят.</p>
                    <p>Подвергнут специальной обработке для быстрого приготовления и размешивания. Каждая порция новой формулы содержит еще больше биологически активных микрофракций сывороточного белка, включая альфалактоальбумин, гликомакропептиды, бета-лактоглобулин, гамма-иммуноглобулин (lgG), лактоферрин, лактопероксидазу и различные факторы роста. Более четырех граммов глютамина и более 5 граммов разветвленных аминокислот BCAA в каждой порции.</p>
                  </div>
                </div>
              </div>
              <div class="item-card__right">
                <div class="item-card__buttons"><a href="#" class="btn">Купить сейчас</a><span class="separator">либо</span><a href="#" class="btn btn--yellow">Добавить в корзину</a></div>
                <div class="item-card__blocks">
                  <div class="blocks-title"><span>Доставка только по Алматы на следующий день</span></div>
                  <ul>
                    <li>Самовызов из офиса</li>
                    <li>Курьером - <b>Бесплатно!</b></li>
                  </ul>
                </div>
                <div class="item-card__blocks">
                  <div class="blocks-title"><span>Оплата заказа</span></div>
                  <ul>
                    <li>Наличными при получении заказа</li>
                    <li>Банковской картой</li>
                  </ul>
                </div>
                <div class="item-card__blocks">
                  <div class="blocks-title"><span>Мы работаем:</span></div>
                  <ul>
                    <li>Пн-Пт – с 10:00 до 19:00</li>
                    <li>Сб, Вс – выходные дни</li>
                  </ul><a href="#" class="block-phone">+7(727)973-68-20</a><a href="#" class="block-phone">+7(727)973-68-20</a>
                </div>
              </div>
            </div>
            <div class="catalogs-block">
              <div class="catalogs-block__title"><a href="#">Похожие товары</a></div>
              <div class="catalogs-block__products">
                <div class="owl-carousel">
                  <div class="product-item"><a href="#" class="product-item__img"><img src="images/product1.jpg" alt="product"></a><a href="#" class="product-item__describe">Гейнер (Lactomin 300gr, Maltodextrine 700gr) Greenlab 1кг</a><span class="product-item__price">5 000 тг.</span><a href="#" class="btn btn--yellow">В корзину</a>
                    <div class="product-item__badge"><img src="images/new.png" alt="new"></div>
                  </div>
                  <div class="product-item"><a href="#" class="product-item__img"><img src="images/product2.jpg" alt="product"></a><a href="#" class="product-item__describe">Гейнер (Lactomin 300gr, Maltodextrine 700gr) Greenlab 1кг</a><span class="product-item__price">5 000 тг.</span><a href="#" class="btn btn--yellow">В корзину</a>
                    <div class="product-item__badge"><img src="images/new.png" alt="new"></div>
                  </div>
                  <div class="product-item"><a href="#" class="product-item__img"><img src="images/product3.jpg" alt="product"></a><a href="#" class="product-item__describe">Гейнер (Lactomin 300gr, Maltodextrine 700gr) Greenlab 1кг</a><span class="product-item__price">5 000 тг.</span><a href="#" class="btn btn--yellow">В корзину</a></div>
                  <div class="product-item"><a href="#" class="product-item__img"><img src="images/product4.jpg" alt="product"></a><a href="#" class="product-item__describe">Гейнер (Lactomin 300gr, Maltodextrine 700gr) Greenlab 1кг</a><span class="product-item__price">5 000 тг.</span><a href="#" class="btn btn--yellow">В корзину</a>
                    <div class="product-item__badge"><img src="images/new.png" alt="new"></div>
                  </div>
                  <div class="product-item"><a href="#" class="product-item__img"><img src="images/product3.jpg" alt="product"></a><a href="#" class="product-item__describe">Гейнер (Lactomin 300gr, Maltodextrine 700gr) Greenlab 1кг</a><span class="product-item__price">5 000 тг.</span><a href="#" class="btn btn--yellow">В корзину</a></div>
                  <div class="product-item"><a href="#" class="product-item__img"><img src="images/product4.jpg" alt="product"></a><a href="#" class="product-item__describe">Гейнер (Lactomin 300gr, Maltodextrine 700gr) Greenlab 1кг</a><span class="product-item__price">5 000 тг.</span><a href="#" class="btn btn--yellow">В корзину</a></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--js files-->
      <script src="js/vendor.js"></script>
      <script src="https://use.fontawesome.com/d419eefe85.js"></script>
      <script src="js/main.js"></script>
      <!--footer-->
      <footer class="footer">
        <div class="container">
          <div class="footer-nav">
            <div class="footer-nav__nav"><span class="footer-nav__title">Полезно знать</span>
              <ul class="footer-nav__list">
                <li><a href="#">О магазине</a></li>
                <li><a href="#">О доставке и оплате</a></li>
                <li><a href="#">Обмен и возврат</a></li>
                <li><a href="#">Информация о спортпите					</a></li>
              </ul>
            </div>
            <div class="footer-nav__help"><span class="footer-nav__title">Помощь и поддержка</span>
              <ul class="footer-nav__list">
                <li><a href="#">Как сделать заказ?</a></li>
                <li><a href="#">Что дает нам регистрация?</a></li>
                <li><a href="#">Написать нам</a></li>
                <li><a href="#">Контакты</a></li>
              </ul>
            </div>
            <div class="footer-nav__subscribe"><span class="footer-nav__title">Подписка</span>
              <div class="footer-social"><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a><a href="#"><i class="fa fa-vk" aria-hidden="true"></i></a></div>
              <form class="footer-form">
                <input type="text" placeholder="Введите e-mail">
                <button class="btn btn--light submit">Подписаться</button>
              </form>
              <p>Подпишитесь на самые свежие новости и <br/>специальные предложения от Михалыча!</p>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="footer-copyright__logo">
              <i class="fa fa-cc-visa" aria-hidden="true"></i>
              <i class="fa fa-cc-mastercard" aria-hidden="true"></i>
            </div>
            <div class="footer-copyright__describe">
              <p>Mikhalych.kz – интернет магазин автотоваров: масла, автохимия, автомобильные лампочки, фильтры, авто аксессуары, комплектующие. © 2016 Примечание! Mikhalych.kz работает в beta-режиме. Если вы нашли где-то ошибку или неточность в описании товара, сообщите нам, пожалуйста.</p>
            </div>
          </div>
        </div>
      </footer>
    </div>
  </body>
</html>

src/catalog-item.jade
extends layout/layout

block content

	.container
		.catalog-item-page

			.item-card

				.item-card__left
					.breadcrumb
						span.breadcrumb__title Товар в категории:
						ul.breadcrumb__links
							li: a(href="#") Главная
							li: a(href="#") Протеины						
							li.active ON Whey Protein 100%
					.card-head
						.card-head__img
							a(href="images/product2.jpg").image-popup-no-margins
								img(src="images/product2.jpg", alt="")
							<i class="fa fa-search-plus" aria-hidden="true"></i>
						.card-head__text
							.card-head__title
								span 100% Whey Gold Standard, 908 грамм
							.card-head__articul
								span.art Артикул: 249466299
								span.brand Бренд:
									a(href="#") Optimum Nutrition
							.card-head__price
								.price-money
									span Цена
									b 9900 тг.
								.price-quantity
									span Количество
									input(type="number" min="1" value="1")
								.price-total
									span Итого
									b 9900 тг.

							.card-head__instock
								a(href="№") Внимание, уточняйте наличие!
					.item-card__describe
						.describe__title
							span Описание
						.describe__content
							p.
								100% Whey Gold Standard - это чистый, настоящий сывороточный белок с минимальным содержанием жиров, насыщенных жиров, холестерина, лактозы и других углеводов.В действительности, это лучший продукт из доступных на рынке спортивного питания! С помощью сложных методов протеин может быть “изолирован” из сопровождающих его жиров, холестерина,лактозы и других нежелательных ингредиентов для получения порошка, который состоял бы на 90% из протеина.
							p Микрофильтрованный изолят сывороточного протеина - это главный ингредиент, он один уже способен показать, что Optimum Nutrition не думает о расходах, когда делает для Вас лучший продукт. Содержит больше изолята сывороточного белка – это самый чистый и самый дорогой источник сывороточного белка. Содержит низкомолекулярные пептиды сыворотки, благодаря которым протеин стал более быстродействующим! Содержит лактазу и аминоген – ферменты, улучшающие переваривание пищи, чтобы увеличить усвояемость белка и максимально снизить негативные реакции организма на лактозу, которую некоторые люди не переносят.
							p Подвергнут специальной обработке для быстрого приготовления и размешивания. Каждая порция новой формулы содержит еще больше биологически активных микрофракций сывороточного белка, включая альфалактоальбумин, гликомакропептиды, бета-лактоглобулин, гамма-иммуноглобулин (lgG), лактоферрин, лактопероксидазу и различные факторы роста. Более четырех граммов глютамина и более 5 граммов разветвленных аминокислот BCAA в каждой порции.



				.item-card__right
					.item-card__buttons
						a(href="#").btn Купить сейчас
						span.separator либо
						a(href="#").btn.btn--yellow Добавить в корзину

					.item-card__blocks
						.blocks-title
							span Доставка только по Алматы на следующий день
						ul
							li Самовызов из офиса
							li Курьером - <b>Бесплатно!</b>

					.item-card__blocks
						.blocks-title
							span Оплата заказа
						ul
							li Наличными при получении заказа
							li Банковской картой

					.item-card__blocks
						.blocks-title
							span Мы работаем:
						ul
							li Пн-Пт – с 10:00 до 19:00
							li Сб, Вс – выходные дни
						a(href="#").block-phone +7(727)973-68-20
						a(href="#").block-phone +7(727)973-68-20


			.catalogs-block
				.catalogs-block__title
					a(href="#") Похожие товары
				.catalogs-block__products
					.owl-carousel
							.product-item
								a(href="#").product-item__img
									img(src="images/product1.jpg", alt="product")
								a(href="#").product-item__describe
									| Гейнер (Lactomin 300gr, Maltodextrine 700gr) Greenlab 1кг
								span.product-item__price 5 000 тг.
								a(href="#").btn.btn--yellow В корзину

								.product-item__badge
									img(src="images/new.png", alt="new")

							.product-item
								a(href="#").product-item__img
									img(src="images/product2.jpg", alt="product")
								a(href="#").product-item__describe
									| Гейнер (Lactomin 300gr, Maltodextrine 700gr) Greenlab 1кг
								span.product-item__price 5 000 тг.
								a(href="#").btn.btn--yellow В корзину

								.product-item__badge
									img(src="images/new.png", alt="new")

							.product-item
								a(href="#").product-item__img
									img(src="images/product3.jpg", alt="product")
								a(href="#").product-item__describe
									| Гейнер (Lactomin 300gr, Maltodextrine 700gr) Greenlab 1кг
								span.product-item__price 5 000 тг.
								a(href="#").btn.btn--yellow В корзину

							.product-item
								a(href="#").product-item__img
									img(src="images/product4.jpg", alt="product")
								a(href="#").product-item__describe
									| Гейнер (Lactomin 300gr, Maltodextrine 700gr) Greenlab 1кг
								span.product-item__price 5 000 тг.
								a(href="#").btn.btn--yellow В корзину

								.product-item__badge
									img(src="images/new.png", alt="new")

							.product-item
								a(href="#").product-item__img
									img(src="images/product3.jpg", alt="product")
								a(href="#").product-item__describe
									| Гейнер (Lactomin 300gr, Maltodextrine 700gr) Greenlab 1кг
								span.product-item__price 5 000 тг.
								a(href="#").btn.btn--yellow В корзину

							.product-item
								a(href="#").product-item__img
									img(src="images/product4.jpg", alt="product")
								a(href="#").product-item__describe
									| Гейнер (Lactomin 300gr, Maltodextrine 700gr) Greenlab 1кг
								span.product-item__price 5 000 тг.
								a(href="#").btn.btn--yellow В корзину
