build/index.html
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="description" content="Aidar FrontEnd">
    <meta name="author" content="Aidar">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="css/vendor.css">
    <link rel="stylesheet" href="css/main.css">
    <title>Shop</title>
  </head>
  <body>
    <div class="wrapper">
      <!-- header-->
      <div class="header">
        <div class="header-top container"><a href="#" class="header__logo"><img src="images/logo.png" alt="logo"></a>
          <div class="header-contact">
            <div class="header-contact__phone"><i class="fa fa-phone" aria-hidden="true"></i><span>+7 (702) 999-99-99</span></div>
            <div class="header-contact__whatsapp"><i class="fa fa-whatsapp" aria-hidden="true"></i><span>+7 (702) 999-99-99</span></div>
          </div>
          <div class="header-panel">
            <div class="header__basket"><a href="#"><i class="fa fa-shopping-cart" aria-hidden="true"></i>					</a></div>
            <div class="header__login"><a href="#"><i class="fa fa-user" aria-hidden="true"></i></a>
              <div class="header-panel__login-drop"><span class="sign">Вход на сайт</span>
                <form action="#" login-form>
                  <input type="text" placeholder="Ваша почта">
                  <input type="password" placeholder="Ваш пароль">
                  <input type="checkbox"><span>Запомнить пароль</span>
                  <button href="#" class="submit btn">Вход</button><a href="#" class="link-regist">Зарегистрироваться</a><a href="#" class="forget-pass">Забыли пароль?</a>
                </form>
              </div>
            </div>
          </div>
        </div>
        <div class="line"></div>
        <div class="header-nav container">
          <ul class="header-nav__menu">
            <li><a href="#">Протеины</a></li>
            <li><a href="#">Гейнеры</a></li>
            <li><a href="#">Аминокислоты</a></li>
            <li><a href="#">Витамины и минералы</a></li>
            <li><a href="#">Аксессуары</a></li>
          </ul>
          <div class="header-nav__search">
            <form action="#" class="search-form">
              <input type="text" placeholder="Поиск...">
              <button class="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
            </form>
          </div>
        </div>
      </div>
      <div class="main">
        <div class="container">
          <!--Main slider-->
          <div class="slider">
            <div class="owl-carousel">
              <div style="background-image:url(images/slide1.jpg)" class="slider-item"></div>
              <div style="background-image:url(images/slide2.jpg)" class="slider-item"></div>
              <div style="background-image:url(images/slide3.jpg)" class="slider-item"></div>
            </div>
          </div>
          <!--catalogs block-->
          <div class="catalogs-block">
            <div class="catalogs-block__title"><a href="#">Новинки</a></div>
            <div class="catalogs-block__products">
              <div class="owl-carousel">
                <div class="product-item"><a href="#" class="product-item__img"><img src="images/product1.jpg" alt="product"></a><a href="#" class="product-item__describe">Гейнер (Lactomin 300gr, Maltodextrine 700gr) Greenlab 1кг</a><span class="product-item__price">5 000 тг.</span><a href="#" class="btn btn--yellow">В корзину</a>
                  <div class="product-item__badge"><img src="images/new.png" alt="new"></div>
                </div>
                <div class="product-item"><a href="#" class="product-item__img"><img src="images/product2.jpg" alt="product"></a><a href="#" class="product-item__describe">Гейнер (Lactomin 300gr, Maltodextrine 700gr) Greenlab 1кг</a><span class="product-item__price">5 000 тг.</span><a href="#" class="btn btn--yellow">В корзину</a>
                  <div class="product-item__badge"><img src="images/new.png" alt="new"></div>
                </div>
                <div class="product-item"><a href="#" class="product-item__img"><img src="images/product3.jpg" alt="product"></a><a href="#" class="product-item__describe">Гейнер (Lactomin 300gr, Maltodextrine 700gr) Greenlab 1кг</a><span class="product-item__price">5 000 тг.</span><a href="#" class="btn btn--yellow">В корзину</a></div>
                <div class="product-item"><a href="#" class="product-item__img"><img src="images/product4.jpg" alt="product"></a><a href="#" class="product-item__describe">Гейнер (Lactomin 300gr, Maltodextrine 700gr) Greenlab 1кг</a><span class="product-item__price">5 000 тг.</span><a href="#" class="btn btn--yellow">В корзину</a>
                  <div class="product-item__badge"><img src="images/new.png" alt="new"></div>
                </div>
                <div class="product-item"><a href="#" class="product-item__img"><img src="images/product3.jpg" alt="product"></a><a href="#" class="product-item__describe">Гейнер (Lactomin 300gr, Maltodextrine 700gr) Greenlab 1кг</a><span class="product-item__price">5 000 тг.</span><a href="#" class="btn btn--yellow">В корзину</a></div>
                <div class="product-item"><a href="#" class="product-item__img"><img src="images/product4.jpg" alt="product"></a><a href="#" class="product-item__describe">Гейнер (Lactomin 300gr, Maltodextrine 700gr) Greenlab 1кг</a><span class="product-item__price">5 000 тг.</span><a href="#" class="btn btn--yellow">В корзину</a></div>
                <div class="product-item"><a href="#" class="product-item__img"><img src="images/product3.jpg" alt="product"></a><a href="#" class="product-item__describe">Гейнер (Lactomin 300gr, Maltodextrine 700gr) Greenlab 1кг</a><span class="product-item__price">5 000 тг.</span><a href="#" class="btn btn--yellow">В корзину</a></div>
                <div class="product-item"><a href="#" class="product-item__img"><img src="images/product4.jpg" alt="product"></a><a href="#" class="product-item__describe">Гейнер (Lactomin 300gr, Maltodextrine 700gr) Greenlab 1кг</a><span class="product-item__price">5 000 тг.</span><a href="#" class="btn btn--yellow">В корзину</a></div>
              </div>
            </div>
          </div>
          <div class="catalogs-block">
            <div class="catalogs-block__title"><a href="#">Популярные товары</a></div>
            <div class="catalogs-block__products">
              <div class="owl-carousel">
                <div class="product-item"><a href="#" class="product-item__img"><img src="images/product1.jpg" alt="product"></a><a href="#" class="product-item__describe">Гейнер (Lactomin 300gr, Maltodextrine 700gr) Greenlab 1кг</a><span class="product-item__price">5 000 тг.</span><a href="#" class="btn btn--yellow">В корзину</a>
                  <div class="product-item__badge"><img src="images/hit.png" alt="hit"></div>
                </div>
                <div class="product-item"><a href="#" class="product-item__img"><img src="images/product2.jpg" alt="product"></a><a href="#" class="product-item__describe">Гейнер (Lactomin 300gr, Maltodextrine 700gr) Greenlab 1кг</a><span class="product-item__price">5 000 тг.</span><a href="#" class="btn btn--yellow">В корзину</a>
                  <div class="product-item__badge"><img src="images/hit.png" alt="hit"></div>
                </div>
                <div class="product-item"><a href="#" class="product-item__img"><img src="images/product3.jpg" alt="product"></a><a href="#" class="product-item__describe">Гейнер (Lactomin 300gr, Maltodextrine 700gr) Greenlab 1кг</a><span class="product-item__price">5 000 тг.</span><a href="#" class="btn btn--yellow">В корзину</a></div>
                <div class="product-item"><a href="#" class="product-item__img"><img src="images/product4.jpg" alt="product"></a><a href="#" class="product-item__describe">Гейнер (Lactomin 300gr, Maltodextrine 700gr) Greenlab 1кг</a><span class="product-item__price">5 000 тг.</span><a href="#" class="btn btn--yellow">В корзину</a></div>
              </div>
            </div>
          </div>
          <div class="catalogs-block">
            <div class="catalogs-block__title"><a href="#">Акции</a></div>
            <div class="catalogs-block__products">
              <div class="owl-carousel">
                <div class="product-item"><a href="#" class="product-item__img"><img src="images/product1.jpg" alt="product"></a><a href="#" class="product-item__describe">Гейнер (Lactomin 300gr, Maltodextrine 700gr) Greenlab 1кг</a><span class="product-item__price">5 000 тг.</span><a href="#" class="btn btn--yellow">В корзину</a>
                  <div class="product-item__badge"><img src="images/discount.png" alt="discount"></div>
                </div>
                <div class="product-item"><a href="#" class="product-item__img"><img src="images/product2.jpg" alt="product"></a><a href="#" class="product-item__describe">Гейнер (Lactomin 300gr, Maltodextrine 700gr) Greenlab 1кг</a><span class="product-item__price">5 000 тг.</span><a href="#" class="btn btn--yellow">В корзину</a></div>
                <div class="product-item"><a href="#" class="product-item__img"><img src="images/product3.jpg" alt="product"></a><a href="#" class="product-item__describe">Гейнер (Lactomin 300gr, Maltodextrine 700gr) Greenlab 1кг</a><span class="product-item__price">5 000 тг.</span><a href="#" class="btn btn--yellow">В корзину</a>
                  <div class="product-item__badge"><img src="images/discount.png" alt="discount"></div>
                </div>
                <div class="product-item"><a href="#" class="product-item__img"><img src="images/product4.jpg" alt="product"></a><a href="#" class="product-item__describe">Гейнер (Lactomin 300gr, Maltodextrine 700gr) Greenlab 1кг</a><span class="product-item__price">5 000 тг.</span><a href="#" class="btn btn--yellow">В корзину</a></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--js files-->
      <script src="js/vendor.js"></script>
      <script src="https://use.fontawesome.com/d419eefe85.js"></script>
      <script src="js/main.js"></script>
      <!--footer-->
      <footer class="footer">
        <div class="container">
          <div class="footer-nav">
            <div class="footer-nav__nav"><span class="footer-nav__title">Полезно знать</span>
              <ul class="footer-nav__list">
                <li><a href="#">О магазине</a></li>
                <li><a href="#">О доставке и оплате</a></li>
                <li><a href="#">Обмен и возврат</a></li>
                <li><a href="#">Информация о спортпите					</a></li>
              </ul>
            </div>
            <div class="footer-nav__help"><span class="footer-nav__title">Помощь и поддержка</span>
              <ul class="footer-nav__list">
                <li><a href="#">Как сделать заказ?</a></li>
                <li><a href="#">Что дает нам регистрация?</a></li>
                <li><a href="#">Написать нам</a></li>
                <li><a href="#">Контакты</a></li>
              </ul>
            </div>
            <div class="footer-nav__subscribe"><span class="footer-nav__title">Подписка</span>
              <div class="footer-social"><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a><a href="#"><i class="fa fa-vk" aria-hidden="true"></i></a></div>
              <form class="footer-form">
                <input type="text" placeholder="Введите e-mail">
                <button class="btn btn--light submit">Подписаться</button>
              </form>
              <p>Подпишитесь на самые свежие новости и <br/>специальные предложения от Михалыча!</p>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="footer-copyright__logo">
              <i class="fa fa-cc-visa" aria-hidden="true"></i>
              <i class="fa fa-cc-mastercard" aria-hidden="true"></i>
            </div>
            <div class="footer-copyright__describe">
              <p>Mikhalych.kz – интернет магазин автотоваров: масла, автохимия, автомобильные лампочки, фильтры, авто аксессуары, комплектующие. © 2016 Примечание! Mikhalych.kz работает в beta-режиме. Если вы нашли где-то ошибку или неточность в описании товара, сообщите нам, пожалуйста.</p>
            </div>
          </div>
        </div>
      </footer>
    </div>
  </body>
</html>

src/index.jade
extends layout/layout

block content
	.container
		//Main slider
		.slider
			.owl-carousel
				.slider-item(style="background-image:url(images/slide1.jpg)")
				.slider-item(style="background-image:url(images/slide2.jpg)")
				.slider-item(style="background-image:url(images/slide3.jpg)")
		
		//catalogs block
		.catalogs-block

			.catalogs-block__title
				a(href="#") Новинки
			.catalogs-block__products
				.owl-carousel
						.product-item
							a(href="#").product-item__img
								img(src="images/product1.jpg", alt="product")
							a(href="#").product-item__describe
								| Гейнер (Lactomin 300gr, Maltodextrine 700gr) Greenlab 1кг
							span.product-item__price 5 000 тг.
							a(href="#").btn.btn--yellow В корзину

							.product-item__badge
								img(src="images/new.png", alt="new")

						.product-item
							a(href="#").product-item__img
								img(src="images/product2.jpg", alt="product")
							a(href="#").product-item__describe
								| Гейнер (Lactomin 300gr, Maltodextrine 700gr) Greenlab 1кг
							span.product-item__price 5 000 тг.
							a(href="#").btn.btn--yellow В корзину

							.product-item__badge
								img(src="images/new.png", alt="new")

						.product-item
							a(href="#").product-item__img
								img(src="images/product3.jpg", alt="product")
							a(href="#").product-item__describe
								| Гейнер (Lactomin 300gr, Maltodextrine 700gr) Greenlab 1кг
							span.product-item__price 5 000 тг.
							a(href="#").btn.btn--yellow В корзину

						.product-item
							a(href="#").product-item__img
								img(src="images/product4.jpg", alt="product")
							a(href="#").product-item__describe
								| Гейнер (Lactomin 300gr, Maltodextrine 700gr) Greenlab 1кг
							span.product-item__price 5 000 тг.
							a(href="#").btn.btn--yellow В корзину

							.product-item__badge
								img(src="images/new.png", alt="new")

						.product-item
							a(href="#").product-item__img
								img(src="images/product3.jpg", alt="product")
							a(href="#").product-item__describe
								| Гейнер (Lactomin 300gr, Maltodextrine 700gr) Greenlab 1кг
							span.product-item__price 5 000 тг.
							a(href="#").btn.btn--yellow В корзину

						.product-item
							a(href="#").product-item__img
								img(src="images/product4.jpg", alt="product")
							a(href="#").product-item__describe
								| Гейнер (Lactomin 300gr, Maltodextrine 700gr) Greenlab 1кг
							span.product-item__price 5 000 тг.
							a(href="#").btn.btn--yellow В корзину

						.product-item
							a(href="#").product-item__img
								img(src="images/product3.jpg", alt="product")
							a(href="#").product-item__describe
								| Гейнер (Lactomin 300gr, Maltodextrine 700gr) Greenlab 1кг
							span.product-item__price 5 000 тг.
							a(href="#").btn.btn--yellow В корзину

						.product-item
							a(href="#").product-item__img
								img(src="images/product4.jpg", alt="product")
							a(href="#").product-item__describe
								| Гейнер (Lactomin 300gr, Maltodextrine 700gr) Greenlab 1кг
							span.product-item__price 5 000 тг.
							a(href="#").btn.btn--yellow В корзину
					

		.catalogs-block
			.catalogs-block__title
				a(href="#") Популярные товары
			.catalogs-block__products
				.owl-carousel
					.product-item
						a(href="#").product-item__img
							img(src="images/product1.jpg", alt="product")
						a(href="#").product-item__describe
							| Гейнер (Lactomin 300gr, Maltodextrine 700gr) Greenlab 1кг
						span.product-item__price 5 000 тг.
						a(href="#").btn.btn--yellow В корзину

						.product-item__badge
								img(src="images/hit.png", alt="hit")

					.product-item
						a(href="#").product-item__img
							img(src="images/product2.jpg", alt="product")
						a(href="#").product-item__describe
							| Гейнер (Lactomin 300gr, Maltodextrine 700gr) Greenlab 1кг
						span.product-item__price 5 000 тг.
						a(href="#").btn.btn--yellow В корзину

						.product-item__badge
								img(src="images/hit.png", alt="hit")

					.product-item
						a(href="#").product-item__img
							img(src="images/product3.jpg", alt="product")
						a(href="#").product-item__describe
							| Гейнер (Lactomin 300gr, Maltodextrine 700gr) Greenlab 1кг
						span.product-item__price 5 000 тг.
						a(href="#").btn.btn--yellow В корзину

					.product-item
						a(href="#").product-item__img
							img(src="images/product4.jpg", alt="product")
						a(href="#").product-item__describe
							| Гейнер (Lactomin 300gr, Maltodextrine 700gr) Greenlab 1кг
						span.product-item__price 5 000 тг.
						a(href="#").btn.btn--yellow В корзину

		.catalogs-block
			.catalogs-block__title
				a(href="#") Акции
			.catalogs-block__products
				.owl-carousel
					.product-item
						a(href="#").product-item__img
							img(src="images/product1.jpg", alt="product")
						a(href="#").product-item__describe
							| Гейнер (Lactomin 300gr, Maltodextrine 700gr) Greenlab 1кг
						span.product-item__price 5 000 тг.
						a(href="#").btn.btn--yellow В корзину

						.product-item__badge
								img(src="images/discount.png", alt="discount")

					.product-item
						a(href="#").product-item__img
							img(src="images/product2.jpg", alt="product")
						a(href="#").product-item__describe
							| Гейнер (Lactomin 300gr, Maltodextrine 700gr) Greenlab 1кг
						span.product-item__price 5 000 тг.
						a(href="#").btn.btn--yellow В корзину

					.product-item
						a(href="#").product-item__img
							img(src="images/product3.jpg", alt="product")
						a(href="#").product-item__describe
							| Гейнер (Lactomin 300gr, Maltodextrine 700gr) Greenlab 1кг
						span.product-item__price 5 000 тг.
						a(href="#").btn.btn--yellow В корзину

						.product-item__badge
								img(src="images/discount.png", alt="discount")

					.product-item
						a(href="#").product-item__img
							img(src="images/product4.jpg", alt="product")
						a(href="#").product-item__describe
							| Гейнер (Lactomin 300gr, Maltodextrine 700gr) Greenlab 1кг
						span.product-item__price 5 000 тг.
						a(href="#").btn.btn--yellow В корзину
